html { height: 100%; }
body {
	margin: 0; 
	padding: 0;
	background-color: #005495;
	color: #000000;
	font-family: 'Cantarell', Verdana, Geneva, sans-serif;
}

a:link,a:visited
{
	display:block;
	text-decoration: none;
	color: #000000;
	width: 100%;
	text-align:left;
	font-size: 1.3em;
}
span.header
{
	position:fixed;
	top:0px;
	left:0px;
	background-color:#3e6f95;
	height:3.5em;
	width:100%;
	z-index:1;
}

span.title
{
	font-size:2.6em;
	font-weight:bold;
	position:fixed;
	top:-.15em;
	left:1.3em;
	width:100%;
	z-index:5;	
	display:inline;
}

span.logo
{
	position:fixed;
	top: .2em;
	left: .2em;
	width:100%;
	z-index:7;
	
}

span.search
{
	position:fixed;
	right: .2em;
	top: .2em;
	z-index:7;
}

span img
{
	width: 2.8em;
	height: 3em;
}

div.spacer
{
	display:block;
	position:relative;
	top: 0;
	left: 0;
	height: 8em;
	width: 100%;
}



a.topic:link,a.topic:visited
{
	font-weight: bold;
	color:#0D1A26;
	font-size: 1.4em;
}


div.topics {
	font-size: 1.3em;
	color: #0D1A26;
/*	background-color:#0087ed;*/
	float: left;
	display:table-cell;
	width: 100%;
	margin: 3px;
	padding: 3px;
	border-left: solid 15px #3e6f95;
	border-bottom: solid 5px #000000;
	-moz-user-select:none
}

.subtopics {
	height:0px;
	overflow:auto;
	display:none;
}

a.topics:focus {
	height: 10em;
	display:block;
}
