html { height: 100%; }
body {
  margin: 0; 
  padding: 0;
  background-color: #3e6daa;
	font-size:100%;
  color: #000000;
  font-family: 'Cantarell', Verdana, Geneva, sans-serif;
	font-direction: ltr;
}

div.header
{
	position:relative;
	top:0px;
	left:0px;
  /*font-size:150%;*/
	background-color:#32598b;
  height:5%;
	width:100%;
  margin:0;
  padding:4px;
	font-weight:bold;
	font-size:2em;
}

img.logo
{
	float:left;
	clear:left;
	width: .8em;
	height: 1em;
}

img.search
{
	position:absolute;
	float:right;
	clear:right;
	/*width: 1.8em;*/
	height: 4%;
	top:.3em;
	right:.8em;
}

p.title
 {
	position:relative;
	/*width:100%;*/
	top:0;
	display:inline;
	color:#000000;
	font-size:1em;
	}


